[Desktop Entry]
Encoding=UTF-8
Name=Ogle
Comment=DVD Player
Comment[pl]=Odtwarzacz p³yt DVD
Exec=ogle -u gui
Icon=/usr/share/ogle_gui/ogle.xpm
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Player;
# vi: encoding=utf-8
